.grparticles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 10px;
}

article{
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: white;
}

.titre{
    margin: 8px;
    font-size: 1.5em;
}